* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul {
    margin-bottom: 0 !important;
    padding-left: 0 !important;

}
a{
    text-decoration: none !important;
}

body {
    background-image: url(https://wallpaperaccess.com/full/1491559.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    line-height: 1.6;
    overflow-x: hidden;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/stardust.png');
    opacity: 0.05;
    z-index: -1;
}

.gradient-text {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(to right, #4cc9f0, #f72585);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
  
 .gradient-link {
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(to right, #4cc9f0, #f72585);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section {
    padding: 3rem 1rem;
    text-align: center;
    position: relative;
}

/* header */
 header{
      position: sticky;
      top: 0;
z-index: 99;
    }
nav {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background-image: url(https://wallpaperaccess.com/full/1491559.jpg);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    border: none;
}

nav a:hover {
    background: #fff;
    color: #3a0ca3;
    border-radius: 5px;
}


/* intro */
.container p{
      text-align: justify;
    }
.hero {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 4rem 1rem;
    position: relative;
    text-align: center;
  background-image: url(https://wallpaperaccess.com/full/1491559.jpg);
  background-size: cover;
  background-position: center;
 
    /* background-color: rgba(0, 0, 0,0.3); */
    /* backdrop-filter: blur(10px); */
}

.hero-text h1 {
    font-size: 3rem;
    color: #fff;
}

.hero-text span {
    color: #4cc9f0;
}

.btndesign {
    background: linear-gradient(to right, #4cc9f0, #f72585);
    border-color: #3a0ca3;
    border-radius: 5px;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0.25rem 0.5rem;
    
}
.btndesign:hover{
    background: linear-gradient(to right, #17abd8, #c21d67);
    border-color: #fff;
}


.hero-img {
    width: 25vmax;
    margin-top: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

}


.skills i{
    font-size: 40px;
      padding: 0.5rem;
      margin: 0.5rem;
      border-radius: 10px;
     background-color: #fff;
}


/* contact */
#contact{
    background-color: rgba(0, 0, 0,0.3);
    backdrop-filter: blur(10px);
    margin-top: 3rem;
    color: #fff;
    font-size: 1.5rem;
}
.contact-info {
    display: flex;
flex-direction: column;
width: max-content;
margin: 0 auto !important;
} 
.contact-info a{
     color: #fff;
}

@media(max-width:576px) {
    h5 {
        font-size: 1rem;
    }
    #work img {
        width: 100% !important;
    }
    nav ul {
        gap: 0 !important;
    }
    nav a {
        font-size: 0.75rem;
    }
    #contact{
      font-size: 1rem;  
    }
}

@media(max-width:768px) {
    .hero {
        display: block;
        padding: 1.5rem 0.5rem;
    }
    .hero-img {
        border-radius: 60%;
    }
}


@media(max-width:992px) {
    .gradient-text,
    .hero-text h1 {
        font-size: 2rem;
    }
}
